*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid rgba(255, 166, 0, 0.774) 1px;
}

body {
    width: 100vw;
    height: 100%;
    z-index: 1;
}

main {
    /* background-color: royalblue; */
}
    
header {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 2fr 1fr;
    /* width: 94vw; */
    margin: 1em;
    /* background-color: yellow; */
    margin: 2em 0 2em 2em;
}

/* .publishing_house-imagotype {
    display: inline;
} */

.publishing_house-imagotype p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: .6em;
    font-weight: bold;
    float: left;
}

.publishing_house-imagotype img{
    width: 4em;
    height: 5em;
}

.publishing_house-slogan {
    width: 100%;
    font-size: .6em;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    margin: auto auto 0 1em
    /* background-color: blueviolet; */
}

.main_head {
    text-align: center;
    font-family: 'Limelight';
    letter-spacing: .4em;
    border-top: solid black;
    border-bottom: solid black;
    margin: auto;
}

.line {
    border-top: solid black;
    border-bottom: solid black;
    border-right: 0;
    border-left: 0;
    margin: 4px;
}

.hollywood {
    font-size: 2.2em;
}


.main_sponsor-content {
    text-align: end;
    font-size: .6em;
    line-height: 1.5em;
    width: 90%;
    /* background-color: blueviolet; */
    margin: 5.2em auto auto auto;
    justify-content: center;
}

.main_sponsor-imagotype .telephone {
    width: 60px;
    height: 50px;
    margin-top: 2em;
}

.Navigation {
    width: 96vw;
    height: 3vh;
    margin: 1em;
}

.Navigation ul {
    display: flex;
    justify-content: space-around; 
    text-align: center;
}

.Navigation ul li {
    border-left: solid black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-left: 1.5em ;
}

.Cinema_Marquee {
    display: inline-block;
    /* background-color: darkorchid; */
    width: 96vw;
    height: 7vh;
    /* position: relative; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin: 2vw;
}

.movies {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cinema_Marquee a:link, a:visited, a:active{
    text-decoration: none;
    font-size: .8em;
    justify-content: space-around;
    color: black;
}

main {
    height: 800px;
    margin: 1em;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    position: absolute;
}

.Sensationalist_Notes {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.section_one {
    display: grid;
    grid-row-start: 1;
    padding: 1em 0 1em 0;
    font-size: .85em;
    border-top: solid black;
}

.title-note {
    font-size: 1.7em;
}

.greatkelly {
    width: 120px;
    height: 240px;
    float: right;
    margin-top: 3em;
    margin-left: .5em;
}

.section_two {
    border-top: solid black;
}
.Editorial {
    margin: 5px;
    position: relative;
}

.Glamour_News {
    margin: 5px;
    position: relative;
}